<div class="title-page">
  <h2>Busca de usuários</h2>

  <button mat-button color="primary" routerLink="/cats/new">
    <mat-icon color="primary"> add </mat-icon>
    Cadastrar usuário
  </button>
</div>

<div class="m-auto">
  <input-search> Pesquise por nome </input-search>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="id" class="hover">
      <th mat-header-cell *matHeaderCellDef>Id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Nome</th>
      <td mat-cell *matCellDef="let element">{{ element.name }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>E-mail</th>
      <td mat-cell *matCellDef="let element">
        {{ element.email }}
      </td>
    </ng-container>

    <ng-container matColumnDef="cpf">
      <th mat-header-cell *matHeaderCellDef>CPF</th>
      <td mat-cell *matCellDef="let element">
        {{ element.cpf | cpf }}
      </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Ações</th>
      <td mat-cell *matCellDef="let element">
        <button
          mat-icon-button
          color="primary"
          aria-label="Example icon button with a home icon"
          [routerLink]="['/cats/edit', element.id]"
          [queryParams]="{ search: searchControl.value }"
        >
          <mat-icon>edit</mat-icon>
        </button>

        <button
          mat-icon-button
          color="warn"
          aria-label="Example icon button with a home icon"
          (click)="openDialogDeleteUser(element)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>

    <tr *matNoDataRow>
      <td>Nenhum dado encontrado</td>
    </tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 25, 100]"
    aria-label="Select page of users"
  ></mat-paginator>
</div>
