.card {
  &__title {
    text-align: center;
    font-size: 22px;
  }

  &__buttons {
    display: flex;
    justify-content: space-between;
  }
}

mat-form-field {
  display: block;
}

.login-page {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
