<h2>{{ editMode ? "Editar" : "Cadastrar" }} gato</h2>

<form [formGroup]="formCat" (ngSubmit)="createCat()">
  <p>
    <mat-form-field>
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name" />
      <mat-error>Campo obrigatório</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Comprimento</mat-label>
      <input matInput formControlName="length" type="number" />
      <mat-error>Campo obrigatório</mat-error>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Peso</mat-label>
      <input matInput formControlName="weight" type="number" />
    </mat-form-field>
  </p>
  <p>
    <mat-form-field>
      <mat-label>Raça</mat-label>
      <input matInput formControlName="race" />
    </mat-form-field>
  </p>

  <button
    mat-flat-button
    color="primary"
    [disabled]="formCat.invalid"
    type="submit"
  >
    Cadastrar
  </button>
  <button mat-stroked-button color="primary" type="reset">Limpar</button>
</form>
