/* You can add global styles to this file, and also import other style files */

* {
  font-family: sans-serif;
}
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-typography {
  background-color: rgb(228, 228, 228);
}

.c-pointer {
  cursor: pointer;
}

.card {
  padding: 16px;
}

mat-form-field {
  width: 100%;
}